* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/imagemFundo.avif");
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 400 */

.playwrite-hr-lijeva-h1 {
  font-family: "Playwrite HR Lijeva", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
}

header {
  height: 10vh;
  background-color: rgb(54, 156, 190);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header > h1 {
  margin-left: 20px;
}

#logo {
  height: 8vh;
  border-radius: 50%;
}

#nav_bar {
  height: 4vh;
  width: 100vw;
  background-color: aliceblue;
}

#itens-navegacao {
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 20px;
}

nav > ul > li {
  text-decoration: none;
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
}

#mainPaginaChat {
  width: 100vw;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#irListaUsuarios {
  width: 20%;
  background-color: antiquewhite;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-left: 840px;
  font-size: 22px;
  border-radius: 30px;
}

.playwrite-hr-lijeva-link {
  font-family: "Playwrite HR Lijeva", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

#containerGChat {
  background-color: antiquewhite;
  width: 80%;
  height: 800px;
  /* margin-top: 90px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center*/
  align-items: center;
  gap: 20px;
  border-radius: 40px;
  /* padding:20px; */
}

.containerDonoPagina {
  width: 100%;
  height: 80px;
  background-color: aliceblue;
  border-radius: 30px 30px 0px 0px;
}

#containerUsuario {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-left: 40px;
  gap: 16px;
}

.profilePic,
.firstCharName {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.firstCharName {
  font-size: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(175, 209, 238);
}

#containerNome {
  height: 40px;
  font-size: 30px;
}

.containerMensagens {
  width: 90%;
  height: 580px;
  background-color: white;
   overflow: auto; 
  /*scroll-behavior: auto; */
}

.containerCriarMsg {
  /*div onde está input*/
  width: 90%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.novaMensagem {
  /*input*/
  width: 98%;
  height: 60px;
  background-color: rgb(206, 228, 248);
  border-radius: 30px;
  border: none;
  padding: 10px;
  font-size: 18px;
}

.espacoMensagem {
  width: 50%;
  background-color: aliceblue;
  height: auto;
  border-radius: 30px;
  padding: 10px;
  margin: 10px 0 0 10px;
  font-size: 16px;
}

.espacoData {
  width: 50%;
  height: auto;
  padding: 10px;
  font-size: 12px;
  display: flex;
  justify-content: end;
}

.divDadosUsuario {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
}

.divDadosUsuario > img,
.divDadosUsuario > .firstCharName {
  height: 40px;
  width: 40px;
}

.divDadosUsuario > span {
  font-weight: 600;
}

.divUsuario {
  width: 100%;
  height: auto;
}

.divOutroUsuario {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.divOutroUsuario > .divDadosUsuario {
  width: 95%;
  display: flex;
  justify-content: end;
}

.divOutroUsuario > .espacoData {
  width: 100%;
  display: flex;
  justify-content: end;
}

.divOutroUsuario > .espacoMensagem {
  width: 50%;
  margin-left: 49%;
  background-color: beige;
}
